<div class="container">
  <div class="mb-5 row">
    <div class="col">
      <h1 class="d-none d-sm-block h3 mb-4 text-center" i18n>
        Frequently Asked Questions (FAQ)
      </h1>
      <p>
        在「常見問題（FAQ）」中快速找到關於 Ghostfolio 雲端託管服務的常見問題解答。
      </p>
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title>如何開始？</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          你可以透過頁面頂端的
          <a [routerLink]="routerLinkRegister">立即開始</a> 按鈕註冊。加入 Ghostfolio 有多種方式：使用 Security Token 建立帳號或以
          <i>Google 登入</i>。系統會引導你完成投資組合的初始設定。
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title>註冊後會收到垃圾郵件嗎？</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          不會。我們連你的 e-mail 都不會蒐集，所以你不會收到任何來自我們的垃圾郵件。
        </mat-card-content>
      </mat-card>
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title>真的是免費的嗎？</mat-card-title>
        </mat-card-header>
        <mat-card-content
          >是的！我們的
          <a target="_blank" [href]="pricingUrl">定價頁面</a>
          清楚列出你可以免費使用哪些功能。</mat-card-content
        >
      </mat-card>
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title>Ghostfolio Premium 是什麼？</mat-card-title>
        </mat-card-header>
        <mat-card-content
          ><a
            class="align-items-center d-inline-flex"
            target="_blank"
            [href]="pricingUrl"
            >Ghostfolio Premium<gf-premium-indicator
              class="d-inline-block ml-1"
              [enableLink]="false"
          /></a>
          是專為有志投資人打造的全託管雲端服務。營收用於支付託管基礎設施與專業資料供應商的營運費用，並資助持續開發。
          它以開源版本為基礎，並包含一些額外功能，例如
          <a [routerLink]="routerLinkMarkets">市場總覽</a> 與專業資料供應商。</mat-card-content
        >
      </mat-card>
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title>可以先試用嗎？</mat-card-title>
        </mat-card-header>
        <mat-card-content
          >可以。註冊 Ghostfolio 後，可在
          <a [routerLink]="routerLinkAccountMembership">會員資格</a>
          中申請試用
          <a
            class="align-items-center d-inline-flex"
            target="_blank"
            [href]="pricingUrl"
            >Ghostfolio Premium<gf-premium-indicator
              class="d-inline-block ml-1"
              [enableLink]="false"
          /></a>
          ，免費、無綁約，隨時可停止使用。</mat-card-content
        >
      </mat-card>
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title
            >如何申請 Ghostfolio Premium 學生優惠？</mat-card-title
          >
        </mat-card-header>
        <mat-card-content
          >以你的校園 e-mail
          <a href="mailto:hi@ghostfol.io?Subject=Student Discount">寄信給我們</a>
          申請學生優惠。</mat-card-content
        >
      </mat-card>
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title>Ghostfolio Premium 訂閱會自動續訂嗎？</mat-card-title>
        </mat-card-header>
        <mat-card-content
          >不會。
          <a
            class="align-items-center d-inline-flex"
            target="_blank"
            [href]="pricingUrl"
            >Ghostfolio Premium<gf-premium-indicator
              class="d-inline-block ml-1"
              [enableLink]="false"
          /></a>
          沒有自動續訂機制。訂閱到期後，你可以自行決定是否要重新訂閱。</mat-card-content
        >
      </mat-card>
      @if (user?.subscription?.type === 'Premium') {
        <mat-card appearance="outlined" class="mb-3">
          <mat-card-header>
            <mat-card-title
              >平台清單中找不到我的券商，該怎麼辦？</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            請寄信至
            <a href="mailto:hi@ghostfol.io">hi&#64;ghostfol.io</a>
            並附上你的券商網址，我們會樂於將它加入。
          </mat-card-content>
        </mat-card>
      }
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title>支援哪些裝置？</mat-card-title>
        </mat-card-header>
        <mat-card-content
          >Ghostfolio 在所有現代瀏覽器中都能執行，無論是智慧型手機、平板電腦或桌上型電腦。
          雲端託管版的 <i>Android</i> 使用者另有專屬的 Ghostfolio App 可於
          <a
            href="https://play.google.com/store/apps/details?id=ch.dotsilver.ghostfolio.twa"
            >Google Play 商店</a
          >
          下載。</mat-card-content
        >
      </mat-card>
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title>備份的最佳做法是什麼？</mat-card-title>
        </mat-card-header>
        <mat-card-content
          >建議定期透過
          <a [routerLink]="routerLinkAccount">我的 Ghostfolio</a> →
          <i>匯出資料</i> 備份你的資料。</mat-card-content
        >
      </mat-card>
      <mat-card appearance="outlined" class="mb-3">
        <mat-card-header>
          <mat-card-title>還有其他問題嗎？</mat-card-title>
        </mat-card-header>
        <mat-card-content
          >歡迎加入 Ghostfolio
          <a
            href="https://join.slack.com/t/ghostfolio/shared_invite/zt-vsaan64h-F_I0fEo5M0P88lP9ibCxFg"
            title="加入 Ghostfolio Slack 社群"
            >Slack</a
          >
          社群、在 X 上發文給
          <a
            href="https://x.com/ghostfolio_"
            title="在 X（原 Twitter）上向 Ghostfolio 發文"
            >&#64;ghostfolio_</a
          >
          @if (user?.subscription?.type === 'Premium') {
            ，或寄信至
            <a href="mailto:hi@ghostfol.io" title="寄送 e-mail"
              >hi&#64;ghostfol.io</a
            >
          }
          ，或到
          <a
            href="https://github.com/ghostfolio/ghostfolio"
            title="在 GitHub 上找到 Ghostfolio"
            >GitHub</a
          >
          發起討論。</mat-card-content
        >
      </mat-card>
    </div>
  </div>
</div>
