<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="h3 mb-4 text-center" i18n>Guides</h1>
      <div class="mb-5">
        <div class="mb-4 media">
          <div class="media-body">
            <h2 class="h5 mb-1 mt-0">無聊地致富（Boringly Getting Rich）</h2>
            <div class="mb-1">
              《<i>Boringly Getting Rich</i>》指南會引導你開始投資。內容介紹一套運用廣泛分散、低成本投資組合的策略，避開個股風險。
            </div>
            <div>
              <a href="https://herget.me/investing-guide" target="_blank"
                >Boringly Getting Rich →</a
              >
            </div>
          </div>
        </div>
        <div class="mb-4 media">
          <div class="media-body">
            <h2 class="h5 mb-1 mt-0">如何打理好我的財務？</h2>
            <div class="mb-1">
              在考慮長期投資之前，得先把你的財務整理好。透過這份指南，你可以更輕鬆、更快速地達成財務目標。
            </div>
            <div>
              <a href="../en/blog/2022/07/how-do-i-get-my-finances-in-order"
                >How do I get my finances in order? →</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
