<div class="container">
  <h1 class="h3 mb-4 text-center" i18n>Markets</h1>
  <div class="mb-5">
<div class="mb-4 media">
      <div class="media-body">
        <h2 class="h5 mb-1 mt-0">加密貨幣熱力圖</h2>
        <div class="mb-1">
          透過《<i>Crypto Coins Heatmap</i>》，你可以用視覺化的方式即時掌握加密貨幣的每日漲跌情形。
        </div>
        <div>
          <a href="https://www.tradingview.com/heatmap/crypto" target="_blank"
            >Crypto Coins Heatmap →</a
          >
        </div>
      </div>
    </div>
    <div class="mb-4 media">
      <div class="media-body">
        <h2 class="h5 mb-1 mt-0">恐懼與貪婪指數</h2>
        <div class="mb-1">
          恐懼與貪婪指數由《<i>CNNMoney</i>》開發，用來衡量影響投資人股價出價意願的兩大主要情緒（恐懼與貪婪）。
        </div>
        <div>
          <a href="https://money.cnn.com/data/fear-and-greed/" target="_blank"
            >Fear & Greed Index →</a
          >
        </div>
      </div>
    </div>
    <div class="media">
      <div class="mb-4 media">
        <h2 class="h5 mb-1 mt-0">通膨調整圖表</h2>
        <div class="mb-1">
          《<i>Inflation Chart</i>》以貨幣供給量（M0、M1、M2）或其他商品價格（如食品、石油）為基準調整數據，協助你找出股市、股價、商品與服務的內在價值。
        </div>
        <div>
          <a href="https://inflationchart.com" target="_blank"
            >Inflation Chart →</a
          >
        </div>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h2 class="h5 mb-1 mt-0">股票熱力圖</h2>
        <div class="mb-1">
          透過《<i>Stock Heatmap</i>》，你可以用視覺化的方式即時掌握股票市場每日的漲跌情形。
        </div>
        <div>
          <a href="https://www.tradingview.com/heatmap/stock" target="_blank"
            >Stock Heatmap →</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
